<a href="https://colab.research.google.com/github/gabe7murphy/PythonDataScienceWorkshops/blob/main/Workshop_1_Data_Manipulation_w_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Colab Introduction


> Here is a quick crash course on how code cells work in google colab

In [ ]:
#This is a code chunk

5 + 5

10

In [ ]:
#We can type multiple commands in one chunk


6 + 7

8 + 4

3 + 2

5

In [ ]:
print(6 + 6)

12

In [ ]:
#the first printing method will only print the most recent command in the chunk

6 + 7

8 + 4

3 + 2

5

In [ ]:
#The print() method will print all commands in the chunk 



print(6 + 7)

print(8 + 4)

print(3 + 2)

13
12
5



```
# This is formatted as code
```

# Importing Packages


> In order to use pandas, we must import it into our environment
The common syntax for importing any package is:
		
	import my_package as alias_name

The alias_name refers to the short hand used when calling functions
alias_name.function()

In [ ]:
#import pandas package

import pandas as pd

# Importing Data


 > In Python, our dataset comes in the file format ".csv". In order to read this into the environment we must first tell google colab to upload it from our file system with the following code: 



```
from google.colab import files
uploaded = files.upload()

```


# Reading Data

> Now that we have the data in our environment, now we can use pandas to read it into our cells using the following function:

```

df = pd.read_csv('filepath.csv')

```

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving starbucks_drinkMenu_expanded.csv to starbucks_drinkMenu_expanded.csv

In [ ]:
#read in coffee data with read_csv()

df = pd.read_csv('/content/starbucks_drinkMenu_expanded.csv')

In [ ]:
#print dataframe
df

              Beverage_category  ... Caffeine (mg)
0                        Coffee  ...           175
1                        Coffee  ...           260
2                        Coffee  ...           330
3                        Coffee  ...           410
4       Classic Espresso Drinks  ...            75
..                          ...  ...           ...
237  Frappuccino® Blended Crème  ...             0
238  Frappuccino® Blended Crème  ...             0
239  Frappuccino® Blended Crème  ...             0
240  Frappuccino® Blended Crème  ...             0
241  Frappuccino® Blended Crème  ...             0

[242 rows x 18 columns]

# Selecting a Column

> In order to access columns in our dataframe, we can treat our dataframe object as an array we can index into:


```
# Return column of a dataframe

df['column_name']
```
>With this method, we can pass in the exact string name of our column in order to index it from our dataframe. With this method, we can guarantee that a column will be returned for any unique column name.




> A second way of accessing columns in a dataframe, is to treat the dataframe as if it has properties. The properties of the dataset can be accessed by chaining functions together as repeated objects:


```
# Return column of a dataframe

df.column_name
```
>While this method is an alternative to the previous method, it can't always guarantee a column, due to its inability to deal with column names with spaces.

Ex.



```
# This code returns an error

"column name"

df.column name


```
>Since "column name" has a space between it, we cannot use the '.' operator to retrieve the column.

In [ ]:
#Return the "Beverage_category" column from the data using the string indexing method

df['Beverage_category']

0                          Coffee
1                          Coffee
2                          Coffee
3                          Coffee
4         Classic Espresso Drinks
                  ...
237    Frappuccino® Blended Crème
238    Frappuccino® Blended Crème
239    Frappuccino® Blended Crème
240    Frappuccino® Blended Crème
241    Frappuccino® Blended Crème
Name: Beverage_category, Length: 242, dtype: object

In [ ]:
#Return the "Calories" column from the data using the '.' properties method
df.Calories

0        3
1        4
2        5
3        5
4       70
      ...
237    320
238    170
239    200
240    180
241    240
Name: Calories, Length: 242, dtype: int64

In [ ]:
#Try and return the "Cholesterol (mg)" column from the data using the '.' properties method. What happens?

#df.coffee_data.Cholesterol (mg)

In [ ]:
#Retrieve the "Cholesterol (mg)" column from the data using an alternate method to avoid an error.

df['Cholesterol (mg)']

0       0
1       0
2       0
3       0
4      10
       ..
237    67
238    39
239    39
240    37
241    56
Name: Cholesterol (mg), Length: 242, dtype: int64

# Inspecting Our Data


> A great place to start when working on any data manipulation task is to inspect various features of your dataframe. Examples of the characteristics I discover are:


*   first five rows
*   last five rows
*   shape of the data
*   column properties
*   summary statistics

# Head and Tail

> Checking the first and last five rows of the data can be done with the following pandas functions:

```
# Returns the first five rows
df.head()


#Returns the last five rows
df.tail()
```

> This is a good way to get a sense of the variability of columns in your dataset, as well as how many rows of data you have.

In [ ]:
#Return the first five rows with head()

df.head()

         Beverage_category       Beverage  ... Iron (% DV)   Caffeine (mg)
0                   Coffee  Brewed Coffee  ...           0%            175
1                   Coffee  Brewed Coffee  ...           0%            260
2                   Coffee  Brewed Coffee  ...           0%            330
3                   Coffee  Brewed Coffee  ...           0%            410
4  Classic Espresso Drinks    Caffè Latte  ...           0%             75

[5 rows x 18 columns]

In [ ]:
#Return the last five rows with tail()

df.tail()

              Beverage_category  ... Caffeine (mg)
237  Frappuccino® Blended Crème  ...             0
238  Frappuccino® Blended Crème  ...             0
239  Frappuccino® Blended Crème  ...             0
240  Frappuccino® Blended Crème  ...             0
241  Frappuccino® Blended Crème  ...             0

[5 rows x 18 columns]

# Shape of the Data

> Analyzing the shape of the data will give you information on the relative size of your dataset. It surely is nothing groundbreaking, but it comes in handy when dealing with many different subsets of your data later on in your workflow and want to quickly check your data is in the correct form.


> The following pandas method will return the shape of your data in a tuple format:


```
# Return the shape of your dataset
df.shape
```

> The tuple which is returned can be interpreted as the first argument being the number of rows in your dataset, and the second argument being the number of columns:

> (# of rows, # of columns)

In [ ]:
#Return the shape of the data with .shape
df.shape

(242, 18)

# Column Properties

>The columns of the data are extremely important, as their behavior and relationships with one another determine how we visualize and model our data later on in the project. Inspecting the properties of the columns can give us some valuable insights on how the data behaves.

# Column Names


> To return the columns within our dataset use the following pandas method:


```
# Return the columsn of the data
df.columns

```

>The output gives us what we want, but lets get it in easy-to-read format:



```
# Wrap the previous code with a list() function:
list(df.columns)

```

> Ah yes! now this is easy to interpret, and now we can look at the individual column names in our dataset.

In [ ]:
#return the columns of the data

df.columns

Index(['Beverage_category', 'Beverage', 'Beverage_prep', 'Calories',
       ' Total Fat (g)', 'Trans Fat (g) ', 'Saturated Fat (g)', ' Sodium (mg)',
       ' Total Carbohydrates (g) ', 'Cholesterol (mg)', ' Dietary Fibre (g)',
       ' Sugars (g)', ' Protein (g) ', 'Vitamin A (% DV) ', 'Vitamin C (% DV)',
       ' Calcium (% DV) ', 'Iron (% DV) ', 'Caffeine (mg)'],
      dtype='object')

In [ ]:
#return the columns of the data in a list format

list(df.columns)

['Beverage_category',
 'Beverage',
 'Beverage_prep',
 'Calories',
 ' Total Fat (g)',
 'Trans Fat (g) ',
 'Saturated Fat (g)',
 ' Sodium (mg)',
 ' Total Carbohydrates (g) ',
 'Cholesterol (mg)',
 ' Dietary Fibre (g)',
 ' Sugars (g)',
 ' Protein (g) ',
 'Vitamin A (% DV) ',
 'Vitamin C (% DV)',
 ' Calcium (% DV) ',
 'Iron (% DV) ',
 'Caffeine (mg)']

# Column Data Types

> The data types of the columns are noteworthy pieces of information, since they play a factor in our data manipulation and cleaning tasks.

>To get a look at the columns of the data and their associated data types, use the following pandas method:



```
# Return the data types of the column

df.info()
```

> It is very common to see float64 and int64 data types, float64 ("floating point") refers to quantities which are in decimal format, and int64 ("integers") refer to whole numbers. 64 just represents the memory it takes up.
The "object" datatype refers to the text data we have in our dataset.

In [ ]:
#Return the datatypes of the columns with info()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

# Column Value Counts

> To further our inspection of the columns in our data, we can take a look at the frequency of the values in a given column.

> To check the relative counts of different values in a column, use the following pandas method:



```
# return the values and their counts in a column:

df['column_name'].value_counts()

or

df.column_name.value_counts()

```

In [ ]:
#What are the different Beverage values and their counts? 

list(df.columns)

['Beverage_category',
 'Beverage',
 'Beverage_prep',
 'Calories',
 ' Total Fat (g)',
 'Trans Fat (g) ',
 'Saturated Fat (g)',
 ' Sodium (mg)',
 ' Total Carbohydrates (g) ',
 'Cholesterol (mg)',
 ' Dietary Fibre (g)',
 ' Sugars (g)',
 ' Protein (g) ',
 'Vitamin A (% DV) ',
 'Vitamin C (% DV)',
 ' Calcium (% DV) ',
 'Iron (% DV) ',
 'Caffeine (mg)']

In [ ]:
df['Beverage'].value_counts()

Vanilla Latte (Or Other Flavoured Latte)               12
Tazo® Full-Leaf Tea Latte                              12
Tazo® Green Tea Latte                                  12
Caffè Latte                                            12
White Chocolate Mocha (Without Whipped Cream)          12
Hot Chocolate (Without Whipped Cream)                  12
Tazo® Chai Tea Latte                                   12
Caffè Mocha (Without Whipped Cream)                    12
Tazo® Full-Leaf Red Tea Latte (Vanilla Rooibos)        12
Coffee                                                 12
Caramel Macchiato                                      12
Cappuccino                                             12
Iced Brewed Coffee (With Milk & Classic Syrup)          9
Java Chip (Without Whipped Cream)                       9
Mocha (Without Whipped Cream)                           9
Strawberries & Crème (Without Whipped Cream)            9
Caramel (Without Whipped Cream)                         9
Caramel Apple Spice (Without Whipped Cream)             4
Skinny Latte (Any Flavour)                              4
Brewed Coffee                                           4
Caffè Americano                                         4
Vanilla Bean (Without Whipped Cream)                    4
Tazo® Tea                                               4
Orange Mango Banana Smoothie                            3
Iced Brewed Coffee (With Classic Syrup)                 3
Shaken Iced Tazo® Tea (With Classic Syrup)              3
Mocha                                                   3
Banana Chocolate Smoothie                               3
Strawberry Banana Smoothie                              3
Caramel                                                 3
Shaken Iced Tazo® Tea Lemonade (With Classic Syrup)     3
Java Chip                                               3
Espresso                                                2
Name: Beverage, dtype: int64

# Summary Statistics


>Now that we have explored the properties of our data, its now time to get into the numbers, and take a look at various summary statistics that our data contains:


*   Mean
*   Median
*   Maximum value
*   Minimum Value





>In pandas, we have the choice to return column specific summary statistics, as well as statistics for the whole dataframe itself.



# Mean

>To return the mean of the data use the following pandas function:



```
# Column specific mean
df['column_name'].mean()

or

df.column_name.mean()

#Mean for all columns in the dataframe
df.mean()
```

In [ ]:
#What is the average sugar content in starbucks drinks?

df[' Sugars (g)'].mean()

32.96280991735537

In [ ]:
#What is the average of all the nutritional information of our data?

df.mean()

Calories                     193.871901
Trans Fat (g)                  1.307025
Saturated Fat (g)              0.037603
 Sodium (mg)                   6.363636
 Total Carbohydrates (g)     128.884298
Cholesterol (mg)              35.991736
 Dietary Fibre (g)             0.805785
 Sugars (g)                   32.962810
 Protein (g)                   6.978512
dtype: float64

In [ ]:
#Why are not all of our columns showing the mean?

In [ ]:
#What is the average caffeine content in starbucks drinks?

df['Caffeine (mg)'].mean()

In [ ]:
df['Caffeine (mg)'].value_counts()


#Median

>to return the median of the data use the following pandas functions:



```
# Column specific median
df['column_name'].median()

or

df.column_name.median()


#Median for all columns in the dataframe
df.median()
```

In [ ]:
#Return the median number of sugars

df[' Sugars (g)'].median()

32.0

In [ ]:
#return the median for all nutritional information

df.median()

Calories                     185.0
Trans Fat (g)                  0.5
Saturated Fat (g)              0.0
 Sodium (mg)                   5.0
 Total Carbohydrates (g)     125.0
Cholesterol (mg)              34.0
 Dietary Fibre (g)             0.0
 Sugars (g)                   32.0
 Protein (g)                   6.0
dtype: float64

# Maximum Value

>To return the maximum value of the data use the following pandas functions:



```
# Column specific maximum value
df['column_name'].max()

or 

df.column_name.max()


#Maximum value for all columns in dataframe
df.max()
```


>Note: the max() function will also return the word with highest alphabetical character from a column with text.





# Minimum Value


>To return the minimum value of the data use the following pandas functions:

```
# Column specific minumum value
df['column_name'].min()

or 

df.column_name.min()


#Minimum value for all columns in dataframe
df.min()
```

In [ ]:
#Whats the maximum amount of Protein in a starbucks drink?

In [ ]:
#Whats the minimum?

In [ ]:
#Whats the maximum value for all columns in the data?

In [ ]:
#Minimum?

# Dataframe Summary Statistics

>Viewing individual summary statistics for a column is great, but it would be nice if we could get a data frame which returns summary statistics for all columns.

>To return a dataframe which consists of all basic summary statistics for each column, use this pandas function:



```
# Return a dataframe of summary statistics for all numerical values
df.describe()
```

>As always you can also do this with single columns as well


```
# Return statistics for a specific column
df['column_name'].describe()

or 

df.column_name.describe()
```

In [ ]:
#Return a dataframe of summary statistics using .describe()

df.describe()

         Calories  Trans Fat (g)   ...   Sugars (g)   Protein (g)
count  242.000000      242.000000  ...   242.000000     242.000000
mean   193.871901        1.307025  ...    32.962810       6.978512
std    102.863303        1.640259  ...    19.730199       4.871659
min      0.000000        0.000000  ...     0.000000       0.000000
25%    120.000000        0.100000  ...    18.000000       3.000000
50%    185.000000        0.500000  ...    32.000000       6.000000
75%    260.000000        2.000000  ...    43.750000      10.000000
max    510.000000        9.000000  ...    84.000000      20.000000

[8 rows x 9 columns]

# Correlation Matrix

> Indentifying relationships between variables in the data is at the heart of various data science tasks. Identifying correlation between variables can help us get an idea of which of them will useful for future modeling and prediction.

>Use the following pandas function to return a dataframe of correlations between variables, also known as a "correlation matrix":



```
# Return correlation matrix
df.corr()
```

> This gives us a nice visual of the various correlation coefficients between our columns in the dataset.

>Note: a quick reminder, correlation is quantified on a scale between -1 to 1, where -1 indicates a strong negative relationship, 0 indicates no relationship, and 1 indicates a strong positive relationship between two variables.

In [ ]:
#How are our variables related to one another? Discover this with the .corr() 

df.corr()

                           Calories  Trans Fat (g)   ...   Sugars (g)   Protein (g)
Calories                   1.000000        0.642818  ...     0.909675       0.578453
Trans Fat (g)              0.642818        1.000000  ...     0.419887       0.496317
Saturated Fat (g)          0.331047        0.694871  ...     0.179255       0.287532
 Sodium (mg)               0.387892        0.707794  ...     0.205969       0.496233
 Total Carbohydrates (g)   0.795037        0.524176  ...     0.771407       0.410629
Cholesterol (mg)           0.940034        0.439811  ...     0.984196       0.360449
 Dietary Fibre (g)         0.384292        0.131267  ...     0.184171       0.540274
 Sugars (g)                0.909675        0.419887  ...     1.000000       0.263061
 Protein (g)               0.578453        0.496317  ...     0.263061       1.000000

[9 rows x 9 columns]

In [ ]:
#What do you notice? Are there any relationships that surprised you? Anything which seemed like common knowledge?

# Transforming Data

>Now that we have explored the basic features of our data, its time to manipulate and subset our data for ease of use. Data cleaning can be a very involved task, but if you become comfortable with fundamental data manipulation tasks, your see great improvement in your workflow efficiency!

> Two common actions which are used often in data manipulation are:
*   Renaming Columns
*   Subsetting Data

# Renaming Columns

> Renaming columns may seem like a trivial task, but it makes accessing data much easier if you can transform the names into a user friendly format.

>Use the following function to rename a column in a data frame


```
# returns a new data frame with the changed column

df.rename(columns={'old_column__name' : 'new_column_name'})


```

>Note: the ```{ : }``` data structure is known as a "dictionary" in python. It is a data structure used to hold key and value pair like so: ```{key : value}```


> Lets say we we want to change multiple columns in one line of code, we can do this easily, by just adding it as another element within the dictionary



```
# Rename multiple columns from the dataframe

df.rename(columns={'column_1' : 'new_column_1', 'column_2' : 'new_column_2', 'column_3' : 'new_column_3'})

```

In [ ]:
#Lets first get a list of our column names
help(df.rename)

In [ ]:
#Rename the ' Protein (g) ' column to "Protein"

list(df.columns)

['Beverage_category',
 'Beverage',
 'Beverage_prep',
 'Calories',
 ' Total Fat (g)',
 'Trans Fat (g) ',
 'Saturated Fat (g)',
 ' Sodium (mg)',
 ' Total Carbohydrates (g) ',
 'Cholesterol (mg)',
 ' Dietary Fibre (g)',
 ' Sugars (g)',
 ' Protein (g) ',
 'Vitamin A (% DV) ',
 'Vitamin C (% DV)',
 ' Calcium (% DV) ',
 'Iron (% DV) ',
 'Caffeine (mg)']

In [ ]:
df.rename(columns={' Protein (g) ':'Protein'})

In [ ]:
#Rename the 'Trans Fat (g) ' column to "Trans_Fat"

df.rename(columns={'Trans Fat (g) ':'Trans_Fat'})

In [ ]:
#Rename the 'Caffeine (mg)' column to Caffeine, ' Sugars (g)' to 'Sugars' and 'Saturated Fat (g)' to Saturated_Fat

df.rename(columns={'Caffeine (mg)':'Caffine', ' Sugars (g)':'Sugars', 'Saturated Fat (g)':'Saturated_Fat'})

# Subsetting Data

> Subsetting data is one of the most common tasks in a data science project. Often times we don't want to work with the entire dataset at once, and we may want to work with a sample of it instead.

>The great thing is, there is nothing new to learn here, because we have already been doing this! So far we have only been subsetting one column, but to subset multiple column, we can do it like so:


```
# Returning one column:

df['column_name']



#Returning multiple:

df[['column_1_name', 'column_2_name', 'column_3_name']]


or


#Specify an array of columns and pass it in

arr = ['column_1_name', 'column_2_name', 'column_3_name']

df[arr]


#We can even save this subsetted data frame to another object

arr = ['column_1_name', 'column_2_name', 'column_3_name']

new_df = df[arr]


```

> The only difference between subsetting one column, and subsetting multiple, is that all we need to do is pass an array of column name strings, and we get our filtered data frame!

In [ ]:
list(df.columns)

['Beverage_category',
 'Beverage',
 'Beverage_prep',
 'Calories',
 ' Total Fat (g)',
 'Trans Fat (g) ',
 'Saturated Fat (g)',
 ' Sodium (mg)',
 ' Total Carbohydrates (g) ',
 'Cholesterol (mg)',
 ' Dietary Fibre (g)',
 ' Sugars (g)',
 ' Protein (g) ',
 'Vitamin A (% DV) ',
 'Vitamin C (% DV)',
 ' Calcium (% DV) ',
 'Iron (% DV) ',
 'Caffeine (mg)']

In [ ]:
#select the Beverage Category, Beverage, Beverage Prep and Calories columns, save it to a variable: data_subset
column_arr = ['Beverage_category', 'Beverage_prep', 'Calories']

data_subset = df[column_arr]

data_subset

              Beverage_category       Beverage_prep  Calories
0                        Coffee               Short         3
1                        Coffee                Tall         4
2                        Coffee              Grande         5
3                        Coffee               Venti         5
4       Classic Espresso Drinks   Short Nonfat Milk        70
..                          ...                 ...       ...
237  Frappuccino® Blended Crème             Soymilk       320
238  Frappuccino® Blended Crème    Tall Nonfat Milk       170
239  Frappuccino® Blended Crème          Whole Milk       200
240  Frappuccino® Blended Crème             Soymilk       180
241  Frappuccino® Blended Crème  Grande Nonfat Milk       240

[242 rows x 3 columns]

In [ ]:
#Select the Beverage Category and Beverage Prep columns, and save it to a new object: bev_info

bev_info = data_subset[['Beverage_category', 'Beverage_prep']]

In [ ]:
#Select the Beverage and the calories from data_subset, and save the result to a new object: bev_nutrition

In [ ]:
list(data_subset.columns)

['Beverage_category', 'Beverage_prep', 'Calories']

In [ ]:
#What happened to our data_subset object? is it empty?

arr = ['Beverage_category', 'Calories']

In [ ]:
#What about our original df object?